<%# Meta data about the page %>
<% title 'Reset your Password' %>
<%# Page content %>
<div class="page-header">
  <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="nav-bar w-nav">
    <div class="logo-wrapper">
      <%= link_to image_tag("logo-transperant-1.svg", alt: "WeFit Logo", class: "logo"), root_path, class: "brand w-nav-brand" %>
    </div>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <div class="nav-link-wrap">
        <a href="index.html" data-w-id="a10aaa46-f1ff-9464-bae3-58462542015b" class="nav-link w-nav-link">Home</a>
        <div data-w-id="a10aaa46-f1ff-9464-bae3-58462542015d" class="nav-line"></div>
      </div>
    </nav>
    <div class="menu-button w-nav-button">
      <div class="icon w-icon-nav-menu"></div>
    </div>
  </div>
  <div class="container">
    <h1 class="page-header-title">Password Reset</h1>
  </div>
  <div class="section-circle-left"></div>
  <div class="section-circle-right"></div>
  <div class="style-guide-title white">Forgot your password?</div>
</div>
<section class="section">
  <div class="container">
    <div class="style-guide-block-wrapper">
      <div class="style-guide-block">
        <div class="colors-wrapper"></div>
        <div class="w-form">
          <h2 class="heading">Set new password</h3>
          <p class="heading">Enter a new password</p>
          <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
          	<%= hidden_field_tag :email, @user.email %>
            <div class="contact-form-grid">
              <div id="w-node-9a87716d1805-1130cd2c">
                <%= f.label :password, "New Password", class: 'field-label-2' %>
                <%= f.password_field :password, class: 'text-field-2 w-input', required: true, placeholder: 'New password' %>
              </div>
            </div>
            <%= submit_tag "Submit", data: {wait: "Please wait..."}, class: "submit-button w-button" %>
          <% end %>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
    </div>
  </div>
</section>
