<%# Meta data about the page %>
<% title 'The Social Network for All Things Health' %>
<% meta_tag :description, 'Join WeFit today, it’s free! Post and attend local healthy activities, chat with licensed health professionals, join support groups, or post about health.' %>
<%# Page content %>

<div class="split left">

    <%= link_to image_tag("logo-transparent.svg", class: 'logo-image', size: "118x45", alt: "WeFit"), root_path %>

    <div class="centered">
        <h1><b>Healthy</b></h1>
        <h1><b>Together</b></h1>
        <br><br><br>
        <p class="subtitleText">Join the social network for health today!</p>
        <br>
        <%= image_tag "Apple_Store_Image.svg", class: "apple-image", alt: "AppleStore" %>
    </div>

    <div class="bottom-left">
        <p class="bottomText">WeFit Inc &copy; <%= Time.current.year %></p>
    </div>
</div>

<div class="split right">

    <div class="hamburger hamburger--boring" type="button">
        <div class="hamburger-box">
            <div class="hamburger-inner"></div>
        </div>
    </div>


    <div id="mySidenav" class="sidenav">

        <p class="links">Menu</p>

        <div class="nav-list-box">
            <a href="#">Log In</a>
            <a href="#">Sign Up</a>
            <%= link_to 'Health Professionals', controller:'professionals', action:'new' %>
            <a href="#">Advertising</a>
            <a href="#">Pioneer Application</a>
            <a href="#">Contact Us</a>
            <a href="#">Download</a>
        </div>
        <div class="nav-connect-text">
            <p class="connect-text">Connect with us!</p>
        </div>
        <div class="social-media-links">
            <%= image_tag "facebook-icon-red.svg", class: "facebook-icon", alt: "FaceBook" %>
            <%= image_tag "instagram-icon-red.svg", class: "instagram-icon", alt: "Instagram" %>
            <%= image_tag "twitter-icon-red.svg", class: "twitter-icon", alt: "Twitter" %>
            <%= image_tag "linkedin-icon-red.svg", class: "linkedin-icon", alt: "LinkedIn" %>
            <%= image_tag "youtube-icon-red.svg", class: "youtube-icon", alt: "YouTube" %>
        </div>

        <div class="wefit-nav-logo">
            <%= image_tag "text-transparent-white.svg", class: "nav-logo", alt: "NavLogo" %>
        </div>
    </div>

    <%= link_to "What is WeFit?", root_path, class: "what_is_wefit" %>

    <div class="slideshow-container centered">

        <div class="mySlides" id="rightForegroundSlides">

            <p>Create & view</br>health inspired posts</p>
            <%= image_tag "Slide1_home.svg", size: "200x200", class: 'slideshow-image' %>

        </div>

        <div class="mySlides" id="rightForegroundSlides">

            <p>Create & attend</br>local healthy activities</p>
            <%= image_tag "slide2_home.svg", size: "200x200", class: 'slideshow-image' %>

        </div>

        <div class="mySlides" id="rightForegroundSlides">

            <p>Join support groups</p></br>
            <%= image_tag "slide3_home.svg", size: "200x200", class: 'slideshow-image' %>

        </div>

        <div class="mySlides" id="rightForegroundSlides">

            <p>Chat with licensed</br>health professionals</p>
            <%= image_tag "slide4_home.svg", size: "200x200", class: 'slideshow-image' %>

        </div>

        <div class="mySlides" id="rightForegroundSlides">

            <p>Guided exercise &</br>meditation videos</p>
            <%= image_tag "slide5_home.svg", size: "200x200", class: 'slideshow-image' %>

        </div>

        <div class="circle-container" id="rightForegroundSlides">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>

        <div class="slideButtonContainer"  id="rightForegroundSlides">
            <a href="#" id="" class="slideButton" type="button">Learn More</a>
        </div>

    </div>


    <ul class="bottom-nav">
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Help Center</a></li>
    </ul>

    <%= image_tag "text-logo-red.svg", class: "wefit-logo", alt: "logo" %>

</div>

<script>

    /* script for image scroll box start*/

    var slideIndex = 1;
    showSlides(slideIndex);

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      slideIndex++;
      setTimeout(showSlides, 5000, slideIndex);
    }
     /*script for image scroll box end*/



    function openNav() {

        document.getElementById("mySidenav").style.width = "250px";
        //document.getElementById("iphoneslide").style.left = "30%";
        //document.getElementById("rightForegroundSlides").style.left = "30%";
        //document.getElementById("whatiswefit").style.right = "320px";
    }

    function closeNav() {

        document.getElementById("mySidenav").style.width = "0px";
        //document.getElementById("iphoneslide").style.left = "50%";
        //document.getElementById("rightForegroundSlides").style.left = "30%";
        //document.getElementById("whatiswefit").style.right = "10px";
    }

    var hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener("click", function() {

            if(hamburger.classList.contains("is-active")){
                hamburger.classList.toggle("is-active");
                closeNav();
            }else{
                hamburger.classList.toggle("is-active");
                openNav();
            }

    });

</script>
