<% if @user.errors.any? %>
<div class="alert alert-warning" role="alert">
	<h4 class="alert-heading">Errors signing up!</h4>
	<% @user.errors.full_messages.each do |msg| %>
	<p><%= msg %></p>
	<% end %>
</div>
<% end %>
<%= form_for @user, url: root_path do |f| %>
	<div class="form-group row">
		<div class="col"><%= f.text_field :first_name, class: 'form-control', required: '', placeholder: 'First Name' %></div>
		<div class="col"><%= f.text_field :last_name, class: 'form-control', required: '', placeholder: 'Last Name' %></div>
	</div>
	<div class="form-group">
		<%= f.email_field :email, class: 'form-control', required: '', placeholder: 'Email' %>
	</div>
	<div class="form-group input-group">
		<%= f.password_field :password, class: 'form-control', required: '', placeholder: 'Create Password' %>
		<div class="input-group-append" onclick='toggle_password()'>
			<div class="input-group-text"><%= image_tag "eye.png", size: "16x16", alt: "WeFit" %></div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col"><%= f.select :gender, ActsAsGendered::GENDERS, { prompt: "Gender" }, { class: "form-control", required: '' } %></div>
		<div class="col"><%= f.text_field :birthdate, class: "form-control", required: '', placeholder: "Birthdate" %></div>
	</div>
	<div class="form-group text-center col-sm">
		<%= f.label :terms_of_use, "By signing up, you agree to #{link_to 'Terms of Use', terms_of_use_path} and #{link_to 'Privacy Policy', privacy_policy_path}.".html_safe, class: "form-check-label" %>
	</div>
	<div class="form-group text-center">
		<%= f.submit "Sign Up", class: "btn btn-green btn-lg w-50" %>
	</div>
<% end %>
