<div class="col-4 px-4 py-5 mx-auto my-auto bg-light border rounded-big shadow" style="min-width: 500px">
	<h3 class="text-center">Join today, <b>FREE</b> forever.</h3>
	<div class="text-center mx-auto w-100">
		<div class="fb-login-button" data-size="large" data-width="300" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="true"></div>
	</div>
	<p class="text-center">or</p>
	<%= form_for User.new, :url => url_for(:controller => 'sessions', :action => 'new') do |f| %>
		<div class="form-group row">
			<div class="col"><%= f.text_field :first_name, class: 'form-control', required: '', placeholder: 'First Name' %></div>
			<div class="col"><%= f.text_field :last_name, class: 'form-control', required: '', placeholder: 'Last Name' %></div>
		</div>
		<div class="form-group">
			<%= f.email_field :email, class: 'form-control', required: '', placeholder: 'Email' %>
		</div>
		<div class="form-group input-group">
			<%= f.password_field :password, class: 'form-control', required: '', placeholder: 'Password' %>
			<div class="input-group-append" onclick='toggle_password()'>
				<div class="input-group-text"><%= image_tag "eye.png", size: "16x16", alt: "WeFit" %></div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col">
				<%= f.select :gender, ActsAsGendered::GENDERS, { prompt: "Gender" }, { class: "form-control", required: '' } %>
			</div>
			<div class="col">
				<%= f.date_field :birthdate, class: "form-control", required: '', placeholder: "Birthdate" %>
			</div>
		</div>
		<div class="form-group text-center col-sm">
			<%= f.label :terms_of_use, "By signing up, you agree to WeFit's #{link_to 'Terms of Use', terms_of_use_path} and #{link_to 'Privacy Policy', privacy_policy_path}.".html_safe, class: "form-check-label" %>
		</div>
		<div class="form-group text-center">
			<%= f.submit "Sign Up", class: "btn btn-green btn-lg w-50" %>
		</div>
	<% end %>
</div>
<script type="text/javascript">
  $(document).ready(function()
  {
    $("#user_first_name").select();
    // Fix a bug with FB button not rendering
    FB.XFBML.parse();
  });
  function toggle_password()
  {
  	var field = document.getElementById('user_password');
  	field.type = (field.type === 'password') ? "text" : "password";
  };
</script>