<div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="nav-bar w-nav">
  <div class="logo-wrapper">
    <%= link_to image_tag("logo-transperant-1.svg", alt: "WeFit Logo", class: "logo"), root_path, class: "brand w-nav-brand" %>
  </div>
  <nav role="navigation" class="nav-menu w-nav-menu">
    <a href="#features" data-w-id="8200b88b-4ca9-a117-68e5-f62602f5d124" class="nav-link w-nav-link">Explore</a>
    <div class="nav-link-wrap">
      <a href="#pricing" class="nav-link w-nav-link">Health Professionals</a>
    </div>
    <div class="nav-link-wrap">
      <a href="https://www.apple.com/app-store/" data-w-id="667a8d1a-8ec6-2a57-75b7-a793c7637388" class="nav-link w-nav-link">Download</a>
    </div>
  </nav>
  <div class="menu-button w-nav-button">
    <div class="icon w-icon-nav-menu"></div>
  </div>
</div>
<section class="hero-section">
  <div class="container">
    <div class="hero-grid">
      <div id="w-node-149c1fd088ea-7b1bd547" class="left-hero-block">
        <h1 class="hero-title">The healthy social network</h1>
        <p class="hero-paragraph">WeFit is a one-of-a-kind community with features that help keep you motivated, supported, and connected throughout your health journey.</p>
        <a href="#features" class="transparent-btn no-margin-top no-margin-right w-button">Explore More</a>
      </div>
      <%= image_set_tag  'Group-532-copy-2', {
        'Group-532-copy-2-p-500' => '500w',
        'Group-532-copy-2-p-800' => '800w',
        'Group-532-copy-2-p-1080' => '1080w',
        'Group-532-copy-2' => '1298w'
      }, sizes: '(max-width: 479px) 87vw, (max-width: 767px) 62vw, (max-width: 991px) 28vw, 24vw', id: 'w-node-a5679354a4bc-7b1bd547', class: 'mockup-img' %>
    </div>
  </div>
</section>
<section id="features" class="section">
  <div class="container">
    <div class="features-grid">
      <div id="w-node-387d33076da0-7b1bd547" class="feature-img-wrapper">
        <%= image_set_tag  'Group-531', {
          'Group-531-p-500' => '500w',
          'Group-531-p-800' => '800w',
          'Group-531-p-1080' => '1080w',
          'Group-531' => '1298w'
        }, height: '500', sizes: '(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 26vw, 16vw', class: 'feature-img' %>
      </div>
      <div id="w-node-387d33076da2-7b1bd547" class="feature-wrapper">
        <h4 class="feature-title">Private.</h4>
        <p class="feature-paragraph">FINALLY! Yes, on WeFit you can join and post in support groups completely anonymously. You no longer have to worry about your private health information being divulged for the world to see.</p>
      </div>
      <div id="w-node-7fe54697006a-7b1bd547" class="feature-img-wrapper">
        <%= image_set_tag  'Group-532-copy', {
          'Group-532-copy-p-500' => '500w',
          'Group-532-copy-p-800' => '800w',
          'Group-532-copy-p-1080' => '1080w',
          'Group-532-copy' => '1298w'
        }, height: '500', sizes: '(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 201.75px, 16vw', class: 'feature-img' %>
      </div>
      <div id="w-node-387d33076da9-7b1bd547" class="feature-wrapper">
        <h4 class="feature-title">Positive.</h4>
        <p class="feature-paragraph">Sometimes it&#x27;s nice to get away from other social sites that have a lot of toxicity and time-sucking content. Surrounding yourself with positive healthy content can help you achieve your goals faster, and with less stress.</p>
      </div>
      <div id="w-node-5c2371a1cf1e-7b1bd547" class="feature-img-wrapper">
        <%= image_set_tag  'Group-532', {
          'Group-532-p-500' => '500w',
          'Group-532-p-800' => '800w',
          'Group-532' => '1298w'
        }, height: '500', sizes: '(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 201.75px, 16vw', class: 'feature-img' %>
      </div>
      <div id="w-node-387d33076db0-7b1bd547" class="feature-wrapper">
        <h4 class="feature-title">Healthy.</h4>
        <p class="feature-paragraph">Need some additional, professional help? Get in touch with and purchase services from local, licensed health professionals like personal trainers, dietitians, counselors, and more! </p>
      </div>
    </div>
  </div>
</section>
<section id="testimonials" class="section blue">
  <div class="container">
    <div data-delay="4000" data-animation="slide" data-autoplay="1" data-duration="500" data-infinite="1" class="slider w-slider">
      <div class="w-slider-mask">
        <div class="testimonial-slide w-slide">
          <div class="testimonial-slide-wrapper">
            <div class="rating">
              <%= image_tag "Icons.svg" %>
              <%= image_tag "Icons.svg" %>
              <%= image_tag "Icons.svg" %>
              <%= image_tag "Icons.svg" %>
              <%= image_tag "Icons.svg" %>
            </div>
            <div class="testimonial-title">If you care about your health you have to download WeFit. It will help you stay motivated and find a community that cares about you and your health.</div>
            <div class="testimonial-author">Deborah Miller</div>
          </div>
        </div>
        <div class="testimonial-slide w-slide">
          <div class="testimonial-slide-wrapper">
            <div class="rating">
              <%= image_tag "Icons.svg" %>
              <%= image_tag "Icons.svg" %>
              <%= image_tag "Icons.svg" %>
              <%= image_tag "Icons.svg" %>
              <%= image_tag "Icons.svg" %>
            </div>
            <div class="testimonial-title">WeFit is a great community app for health and I really hope that it becomes mainstream because I believe that it has the power to help a lot of people out.</div>
            <div class="testimonial-author">Connor Markell</div>
          </div>
        </div>
      </div>
      <div class="left-arrow w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="right-arrow w-slider-arrow-right">
        <div class="icon-2 w-icon-slider-right"></div>
      </div>
      <div class="slide-nav w-slider-nav w-round"></div>
    </div>
  </div>
  <div class="section-circle-right"></div>
  <div class="section-circle-left"></div>
</section>
<section id="pricing" class="section">
  <div class="container">
    <h2 class="section-title">WeFit for Health Professionals</h2>
    <div class="pricing-columns annually w-row">
      <div class="pricing-card-wrapper w-col w-col-3"></div>
      <div class="pricing-card-wrapper w-col w-col-6">
        <div class="pricing-card middle">
          <div class="pricing-card-header">
            <div class="pricing-title">Make money on your terms!<br>Freelance your services.</div>
            <div class="pricing-price">FREE</div>
            <div class="pricing-small-text">10% service fee on transactions*</div>
            <div class="pricing-bg-circle-right"></div>
            <div class="pricing-bg-circle-left"></div>
          </div>
          <div class="pricing-table-content">
            <div class="pricing-table-row">
              <div class="pricing-row-text">Personal Trainers</div>
            </div>
            <div class="pricing-table-row">
              <div class="pricing-row-text">Dietititans</div>
            </div>
            <div class="pricing-table-row">
              <div class="pricing-row-text">Psychologists<br></div>
            </div>
            <div class="pricing-table-row">
              <div class="pricing-row-text">Psychiatrists</div>
            </div>
            <div class="pricing-table-btn-container">
              <a href="https://www.apple.com/app-store/" class="filled-btn small no-margin-top no-margin-right w-button">Let&#x27;s Go!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="pricing-card-wrapper w-col w-col-3"></div>
    </div>
  </div>
</section>
<footer id="footer" class="footer">
  <div class="footer-row">
    <div class="container flex">
      <% link_to (image_tag 'logo-transperant-1.svg', class: 'footer-logo'), class: 'footer-logo-link-block w-inline-block w--current' %>
      <div class="copyright-block right flex-horizontal">
        <% link_to (image_tag 'App-Store.svg', class: "app-store-btn"), "https://www.apple.com/ios/app-store/", target: "_blank", class: "app-link-block w-inline-block" %>
      </div>
    </div>
  </div>
  <div class="footer-row bottom">
    <div class="container flex">
      <div class="copyright-block">
        <div class="copyright-text">&copy; WeFit Inc. - <%= Time.zone.now.year %></div>
      </div>
      <div class="copyright-block right">
        <% link_to "Terms", "terms", class:"copyright-text right" %>
        <% link_to "Privacy", "privacy", class:"copyright-text right" %>
        <% link_to "Help Center", "helpcenter", class:"copyright-text right last" %>
      </div>
    </div>
  </div>
</footer>
