<% title 'The Social Network for All Things Health' %>
<% meta_tag :description, 'WeFit adds fun and excitement to health and wellness. View and create healthy posts, attend local healthy activites, join healthy support groups, and more!.' %>
<% meta_tag :keywords, "health, fitness, wellness, social media, local, health professional, WeFit, social health, healthy together" %>

<header class="header header-clear">
	<%= link_to (image_tag "redlogo.svg", class: "logo"), root_path %>
	<input class="menu-btn" type="checkbox" id="menu-btn" />
	<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
	<ul class="menu bg-transparent">
		<li><a href="https://www.apple.com/ios/app-store/" class="download download-red">Download</a></li>
		<li><%= link_to 'About', about_path %></li>
		<li><%= link_to 'Ads', advertise_path %></li>
		<li><%= link_to 'Health Professionals', professionals_path %></li>
		<li><a href="influencer.html">Influencers</a></li>
	</ul>
</header>

<main>
	<div id="home-first">
		<br><br><br><br>
		<video playsinline="playsinline" muted="muted" preload="yes" autoplay="autoplay" loop="loop" id="vjs_video_739_html5_api" class="video-js" data-setup='{"autoplay":"any"}'>
			<source src="homepage.mp4" type="video/mp4">
		</video>
		<h1 class="thehealthysocialnetwork">Join the healthy social network.</h1>
		<a href="https://www.apple.com/ios/app-store/"><%= image_tag "AppStoreButton.svg", class: "home-AppStore", alt: "" %></a>
		<br><br>
	</div>

	<!-- FEATURES SECTION -->
	<h2 class="ourfeatures">Our features</h2>
	<section class="section-features">
		<div class="container">
			<div class="row align-items-center header-section">
				<div class="col-lg-6">
					<div class="header-titles">
					</div>
				</div>
				<div class="col-lg-6">
				</div>
			</div>
			<div class="row text-center justify-content-around">
				<!-- single featues -->
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="single-feature feature1">
						<%= image_tag "homefirstpicture.jpg" %> 
						<div class="infos">
							<span class="icon-feature"><%= image_tag "slide1.svg", class: "slideicons" %></span>
							<h3 class="title">Create and view posts such as workouts, recipes, and more.</h3>

						</div>
					</div>
				</div>
				<!-- / end single featues -->
				<!-- single featues -->
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="single-feature feature2">
						<%= image_tag "home2ndpicture.jpg" %>
						<div class="infos">
							<span class="icon-feature"><%= image_tag "slide2.svg", class: "slideicons" %></span>
							<h3 class="title">Create and attend local healthy activities.</h3>

						</div>
					</div>
				</div>
				<!-- / end single featues -->
				<!-- single featues -->
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="single-feature feature3">
						<%= image_tag "home3rdpicture.jpg" %>
						<div class="infos">
						<span class="icon-feature"><%= image_tag "slide3.svg", class: "slideicons" %></span>
							<h3 class="title">Join support groups and post anonymously for privacy.</h3>
						</div>
					</div>
				</div>
				<!-- / end single featues -->
				<!-- single featues -->
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="single-feature feature4">
						<%= image_tag "slide6.jpg" %>
						<div class="infos">
							<span class="icon-feature"><%= image_tag "slide4.svg", class: "slideicons" %></span>
							<h3 class="title">Chat with local, licensed health profesisonals.</h3>

						</div>
					</div>
				</div>
				<!-- / end single featues -->
			</div>
		</div>
	</section>
	<!-- / END FEATURES SECTION -->
</main>

<footer>
	<div>
		<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
		<defs>
		<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
		</defs>
		<g class="parallax">
		<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(0,0,0,0.7" />
		<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(0,0,0,0.5)" />
		<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(0,0,0,0.3)" />
		<use xlink:href="#gentle-wave" x="48" y="7" fill="#000" />
		</g>
		</svg>
	</div>
	<div id="footer">
		<a href="home.html"><%= image_tag "text-transparent-white.svg", class: "textwefit", alt: "text-logo" %></a>
		<p class="copyright">WeFit Inc. © 2020. All Rights Reserved.</p>

		<a href="terms.html"><p class="documents">Terms</p></a>
		<a href="privacy.html"><p class="documents">Privacy</p></a>
		<a href="helpcenter.html"><p class="documents">Help Center</p></a>

		<p class="boldfooterelements">Contact Us</p>
		<a href="mailto:contact@wefit.us"><p class="email">contact@wefit.us</p></a>
		<p class="boldfooterelements">Follow Us</p>

		<a href="https://www.facebook.com/WeFitHQ/?notif_id=1551856660795398&notif_t=page_fan"><%= image_tag "FBicon.svg", class: "socialicons", alt: "FBIcon" %></a>
		<a href="https://www.instagram.com/wefitapp/"><%= image_tag "Instaicon.svg", class: "socialicons", alt: "IGIcon" %></a>
		<a href="https://twitter.com/wefit_app"><%= image_tag "Twittericon.svg", class: "socialicons", alt: "IGIcon" %></a>
		<a href="https://www.linkedin.com/company/wefit-inc/?viewAsMember=true"><%= image_tag "Linkedinicon.svg", class: "socialicons", alt: "IGIcon" %></a>
		<a href="https://www.youtube.com/channel/UCuMcN15thVjRN5g1tq3k6dg?view_as=subscriber"><%= image_tag "Youtubeicon.svg", class: "socialicons", alt: "YTIcon" %></a>
	</div>
</footer>
