<% title 'WeFit Health Professional' %>
<% meta_tag :description, 'Grow your reach with WeFit Health Professional. Sign up for a free account.' %>
<% meta_tag :keywords, "what is wefit, about wefit, noom, weight watchers, fitbit, myfitnesspal, wefit mission, wefit values, wefit story, why is wefit different" %>

<header class="header header-clear">
	<%= link_to (image_tag "redlogo.svg", class: "logo"), root_path %>
	<input class="menu-btn" type="checkbox" id="menu-btn" />
	<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
	<ul class="menu bg-transparent">
		<li><a href="https://www.apple.com/ios/app-store/" class="download download-red">Download</a></li>
		<li><%= link_to 'About', about_path %></li>
		<li><%= link_to 'Ads', advertise_path %></li>
		<li><%= link_to 'Health Professionals', professionals_path %></li>
		<li><a href="influencer.html">Influencers</a></li>
	</ul>
</header>

<main>
	<div id="healthprofessional-slideshow">
		<br><br>
		<div class="slider">
			<div class="slide_viewer">
				<div class="slide_group">
					<div class="slide">
						<h4 class="whp">Health Professional</h4>
						<p class="slidenumber">1</p>
						<p class="slidesubheader">Sign up for a free account</p>
						<p class="slidetext">When you sign up, your account will<br> be reviewed by a WeFit representative<br> for approval within 48 hours.</p>
						<%= image_tag "hpslide2.jpg", class: "hpslides" %>
					</div>
					<div class="slide">
						<h4 class="whp1">Health Professional</h4>
						<p class="slidenumber">2</p>
						<p class="slidesubheader1">Get familiar with WeFit</p>
						<p class="slidetext1">Once approved, you can create <br>posts, activities, and participate in<br> everything just like a traditional user.</p>
						<%= image_tag "hpslide6.jpg", class: "hpslides" %>
					</div>
					<div class="slide">
						<h4 class="whp1">Health Professional</h4>
						<p class="slidenumber">3</p>
						<p class="slidesubheader3">Start earning</p>
						<p class="slidetext3">Reach out to WeFit users about<br> the services you offer or wait for<br> them to book a service with you.</p>
						<%= image_tag "hpslide5.jpg", class: "hpslides" %>
					</div>
				</div>
			</div>
		</div><!-- End // .slider -->

		<div class="slide_buttons">
		</div>

		<div class="directional_nav">
			<div class="previous_btn" title="Previous">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewBox="-11 -11.5 65 66">
					<g>
						<g>
							<path fill="#000" d="M-10.5,22.118C-10.5,4.132,4.133-10.5,22.118-10.5S54.736,4.132,54.736,22.118
					c0,17.985-14.633,32.618-32.618,32.618S-10.5,40.103-10.5,22.118z M-8.288,22.118c0,16.766,13.639,30.406,30.406,30.406 c16.765,0,30.405-13.641,30.405-30.406c0-16.766-13.641-30.406-30.405-30.406C5.35-8.288-8.288,5.352-8.288,22.118z"/>
							<path fill="#000" d="M25.43,33.243L14.628,22.429c-0.433-0.432-0.433-1.132,0-1.564L25.43,10.051c0.432-0.432,1.132-0.432,1.563,0	c0.431,0.431,0.431,1.132,0,1.564L16.972,21.647l10.021,10.035c0.432,0.433,0.432,1.134,0,1.564	c-0.215,0.218-0.498,0.323-0.78,0.323C25.929,33.569,25.646,33.464,25.43,33.243z"/>
						</g>
					</g>
				</svg>
			</div>
			<div class="next_btn" title="Next">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewBox="-11 -11.5 65 66">
					<g>
						<g>
							<path fill="#000" d="M22.118,54.736C4.132,54.736-10.5,40.103-10.5,22.118C-10.5,4.132,4.132-10.5,22.118-10.5	c17.985,0,32.618,14.632,32.618,32.618C54.736,40.103,40.103,54.736,22.118,54.736z M22.118-8.288	c-16.765,0-30.406,13.64-30.406,30.406c0,16.766,13.641,30.406,30.406,30.406c16.768,0,30.406-13.641,30.406-30.406 C52.524,5.352,38.885-8.288,22.118-8.288z"/>
							<path fill="#000" d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035 			L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z"/>
						</g>
					</g>
				</svg>
			</div>
		</div>
	</div>
	<h2 class="grow">Grow your reach with WeFit Health Professional.</h2>

	<div id="hp-getstarted">Sign Up</div>
	<div id="contactForm" style="z-index: 999;">
		<h2 class="formtext">First, Log In</h2>
		<small class="formtextsmall">If you do not already have <br>a WeFit account <a class="bluelink" href="#signup">sign up!</a></small>

		<form action="#">
			<input placeholder="Name" type="text" required />
			<input placeholder="Business email" type="email" required />
			<input placeholder="Business type" type="text" required />
			<input placeholder="Budget" type="text" required />

			<input class="formBtn" type="submit" />
		</form>
	</div>
	<br><br>

	<div class="faq">
		<h2 class="faqtitle">FAQ</h2>
		<div class="hp-layout">
			<div class="col hp-col col-main">
				<div id="q1">What is WeFit Health Professional?</div>
				<div id="q1form">
					<small class="formtextsmall">WeFit Health Professional is a way for health professionals to grow their digital brand and business. Professionals can connect with people in their community that they otherwise wouldn't have been able to reach to provide professional services such as diet plan, workout plans, mental health conditioning and more.</small>
				</div>
				<br>
				<p id="q2">Do I have to be licensed/certified to have an account?</p>
				<div id="q2form">
					<small class="formtextsmall">Yes, you must be licensed and/or certified to conduct professional services in the state you are registered.</small>
				</div>
				<br>
				<p id="q3">What should I set my service rates at?</p>
				<div id="q3form">
					<small class="formtextsmall">Professionals may set their service rates at whatever they want, however we want these services to be relatively affordable so that we can reach all populations.</small>
				</div>
			</div>
			<div class="col hp-col col-complementary" role="complementary">
				<p id="q4">How much does a health professional account cost?</p>
				<div id="q4form">
					<small class="formtextsmall">WeFit Health Professional is <strong>FREE</strong>. We take a service fee of 15% on all services completed through our platform. For example, if a user pays a professional $40 for a meal plan, the health professional would receive $34 while WeFit would receive $6.</small>
				</div>
				<br>
				<p id="q5">What type of health professionals are accepted?</p>
				<div id="q5form">
					<small class="formtextsmall">Currently we are accepting personal trainers, dietitians, psychologists, and psychiatrists.</small>
				</div>
				<br>
				<p id="q6">What rules and guidelines do I have to follow as a health professional?</p>
				<div id="q6form">
					<small class="formtextsmall">See our <a class="bluelink" href="hppolicy.html">health professional policy</a> for all of our rules and guidelines pertaining to health professionals.</small>
				</div>
				<br>
			</div>
		</div>

	</div>
</main>

<footer>
	<div>
		<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
		<defs>
		<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
		</defs>
		<g class="parallax">
		<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(0,0,0,0.7" />
		<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(0,0,0,0.5)" />
		<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(0,0,0,0.3)" />
		<use xlink:href="#gentle-wave" x="48" y="7" fill="#000" />
		</g>
		</svg>
	</div>
	<div id="footer">
		<a href="home.html"><%= image_tag "text-transparent-white.svg", class: "textwefit", alt: "text-logo" %></a>
		<p class="copyright">WeFit Inc. © 2020. All Rights Reserved.</p>

		<a href="terms.html"><p class="documents">Terms</p></a>
		<a href="privacy.html"><p class="documents">Privacy</p></a>
		<a href="helpcenter.html"><p class="documents">Help Center</p></a>

		<p class="boldfooterelements">Contact Us</p>
		<a href="mailto:contact@wefit.us"><p class="email">contact@wefit.us</p></a>
		<p class="boldfooterelements">Follow Us</p>

		<a href="https://www.facebook.com/WeFitHQ/?notif_id=1551856660795398&notif_t=page_fan"><%= image_tag "FBicon.svg", class: "socialicons", alt: "FBIcon" %></a>
		<a href="https://www.instagram.com/wefitapp/"><%= image_tag "Instaicon.svg", class: "socialicons", alt: "IGIcon" %></a>
		<a href="https://twitter.com/wefit_app"><%= image_tag "Twittericon.svg", class: "socialicons", alt: "IGIcon" %></a>
		<a href="https://www.linkedin.com/company/wefit-inc/?viewAsMember=true"><%= image_tag "Linkedinicon.svg", class: "socialicons", alt: "IGIcon" %></a>
		<a href="https://www.youtube.com/channel/UCuMcN15thVjRN5g1tq3k6dg?view_as=subscriber"><%= image_tag "Youtubeicon.svg", class: "socialicons", alt: "YTIcon" %></a>
	</div>
</footer>

<script type="text/javascript">
$(document).ready(function()
{
	$(function() {

	  // contact form animations
	  $('#hp-getstarted').click(function() {
	    $('#contactForm').fadeToggle();
	    $('body').append('<div id="dimmer" class="dim"></div>');
	  })
	  $(document).mouseup(function (e) {
	    var container = $("#contactForm");

	    if (!container.is(e.target) // if the target of the click isn't the container...
	        && container.has(e.target).length === 0) // ... nor a descendant of the container
	    {
	        container.fadeOut();
	        $('#dimmer').remove();
	    }
	  });

	});

	$(function() {

	  // contact form animations
	  $('#q1').click(function() {
	    $('#q1form').fadeToggle();
	  })
	  $(document).mouseup(function (e) {
	    var container = $("#???");

	    if (!container.is(e.target) // if the target of the click isn't the container...
	        && container.has(e.target).length === 0) // ... nor a descendant of the container
	    {
	        container.fadeOut();
	    }
	  });

	});

	$(function() {

	  // contact form animations
	  $('#q2').click(function() {
	    $('#q2form').fadeToggle();
	  })
	  $(document).mouseup(function (e) {
	    var container = $("#???");

	    if (!container.is(e.target) // if the target of the click isn't the container...
	        && container.has(e.target).length === 0) // ... nor a descendant of the container
	    {
	        container.fadeOut();
	    }
	  });

	});

	$(function() {

	  // contact form animations
	  $('#q3').click(function() {
	    $('#q3form').fadeToggle();
	  })
	  $(document).mouseup(function (e) {
	    var container = $("#???");

	    if (!container.is(e.target) // if the target of the click isn't the container...
	        && container.has(e.target).length === 0) // ... nor a descendant of the container
	    {
	        container.fadeOut();
	    }
	  });

	});

	$(function() {

	  // contact form animations
	  $('#q4').click(function() {
	    $('#q4form').fadeToggle();
	  })
	  $(document).mouseup(function (e) {
	    var container = $("#???");

	    if (!container.is(e.target) // if the target of the click isn't the container...
	        && container.has(e.target).length === 0) // ... nor a descendant of the container
	    {
	        container.fadeOut();
	    }
	  });

	});

	$(function() {

	  // contact form animations
	  $('#q5').click(function() {
	    $('#q5form').fadeToggle();
	  })
	  $(document).mouseup(function (e) {
	    var container = $("#???");

	    if (!container.is(e.target) // if the target of the click isn't the container...
	        && container.has(e.target).length === 0) // ... nor a descendant of the container
	    {
	        container.fadeOut();
	    }
	  });

	});

	$(function() {

	  // contact form animations
	  $('#q6').click(function() {
	    $('#q6form').fadeToggle();
	  })
	  $(document).mouseup(function (e) {
	    var container = $("#???");

	    if (!container.is(e.target) // if the target of the click isn't the container...
	        && container.has(e.target).length === 0) // ... nor a descendant of the container
	    {
	        container.fadeOut();
	    }
	  });

	});

	$('.slider').each(function() {
	  var $this = $(this);
	  var $group = $this.find('.slide_group');
	  var $slides = $this.find('.slide');
	  var bulletArray = [];
	  var currentIndex = 0;
	  var timeout;

	  function move(newIndex) {
	    var animateLeft, slideLeft;

	    advance();

	    if ($group.is(':animated') || currentIndex === newIndex) {
	      return;
	    }

	    bulletArray[currentIndex].removeClass('active');
	    bulletArray[newIndex].addClass('active');

	    if (newIndex > currentIndex) {
	      slideLeft = '100%';
	      animateLeft = '-100%';
	    } else {
	      slideLeft = '-100%';
	      animateLeft = '100%';
	    }

	    $slides.eq(newIndex).css({
	      display: 'block',
	      left: slideLeft
	    });
	    $group.animate({
	      left: animateLeft
	    }, function() {
	      $slides.eq(currentIndex).css({
	        display: 'none'
	      });
	      $slides.eq(newIndex).css({
	        left: 0
	      });
	      $group.css({
	        left: 0
	      });
	      currentIndex = newIndex;
	    });
	  }

	  function advance() {
	    clearTimeout(timeout);
	    timeout = setTimeout(function() {
	      if (currentIndex < ($slides.length - 1)) {
	        move(currentIndex + 1);
	      } else {
	        move(0);
	      }
	    }, 6000);
	  }

	  $('.next_btn').on('click', function() {
	    if (currentIndex < ($slides.length - 1)) {
	      move(currentIndex + 1);
	    } else {
	      move(0);
	    }
	  });

	  $('.previous_btn').on('click', function() {
	    if (currentIndex !== 0) {
	      move(currentIndex - 1);
	    } else {
	      move(3);
	    }
	  });

	  $.each($slides, function(index) {
	    var $button = $('<a class="slide_btn">&bull;</a>');

	    if (index === currentIndex) {
	      $button.addClass('active');
	    }
	    $button.on('click', function() {
	      move(index);
	    }).appendTo('.slide_buttons');
	    bulletArray.push($button);
	  });

	  advance();
	});

	function myFunction() {
	  var x = document.getElementById("getstarted");
	  if (x.style.display === "none") {
	    x.style.display = "none";
	  } else {
	    x.style.display = "none";
	  }
	}
});
</script>
