<footer class="bg-red text-white">
  <div class="container">
    <div class="row">
      <%# Left Icon %>
      <div class="col">
        <%= link_to image_tag("text-transparent-white.png", size: "112x34", id: "bottom-icon"), root_path %> 
        <p class="pt-3">What is Wefit?</p>
      </div>
      <%# Social media links %>
      <div class="col text-center hide-mobile">
        <h4>Connect with us</h4>
        <%= link_to inline_svg("facebook-icon.svg", size: "24px*24px", alt: "FB"), "https://facebook.com/WeFitHQ", class:"social-icon" %>
        <%= link_to inline_svg("instagram-icon.svg", size: "24px*24px", alt: "IG"), "https://instagram.com/wefit.us", class:"social-icon" %>
        <%= link_to inline_svg("youtube-icon.svg", size: "24px*24px", alt: "YT"), "https://youtube.com/channel/UCuMcN15thVjRN5g1tq3k6dg?view_as=subscriber", class:"social-icon" %>
        <%= link_to inline_svg("twitter-icon.svg", size: "24px*24px", alt: "TWTR"), "https://twitter.com/wefit_us", class:"social-icon" %>
      </div>
      <%# Support links %>
      <div class="col">
        <h4>Support</h4>
        <ul class="list-unstyled">
          <li><%= link_to "Contact", contact_path, class: "footer-link" %></li>
          <li>Accont Help</li>
          <li>Billing</li>
          <li>Community Guidelines</li>
        </ul>
      </div>
      <%# Legal links %>
      <div class="col">
        <h4>Legal</h4>
        <ul class="list-unstyled">
          <li><%= link_to "Terms of Use", terms_of_use_path, class: "footer-link" %></li>
          <li><%= link_to "Privacy Policy", privacy_policy_path, class: "footer-link" %></li>
          <li>Cookie Policy</li>
          <li>Advertising Policy</li>
          <li>Branding Assets</li>
        </ul>
      </div>
    </div>
    <p class="text-center">&copy; <%= Time.current.year %> Wefit Inc.</p>
  </div>
</footer>