<footer class="bg-red text-white">
  <div class="container">
    <div class="row">
      <%# Left Icon %>
      <div class="col-sm-4 text-center">
        <%= link_to image_tag("text-transparent-white.png", size: "112x34", id: "bottom-icon"), root_path %> 
        <p class="pt-3"> <%= link_to "What Is WeFit?", what_is_we_fit_path, class: "footer-link" %></p>
      </div>
      <%# Social media links %>
      <div class="col-sm-4 text-center pb-3">
        <h4>Connect with us</h4>
        <%= link_to inline_svg("Facebook.svg", size: "48px*48px", alt: "FB"), "https://facebook.com/WeFitHQ", class:"social-icon" %>
        <%= link_to inline_svg("Instagram.svg", size: "48px*48px", alt: "IG"), "https://instagram.com/wefit.us", class:"social-icon" %>
        <%= link_to inline_svg("YouTube 2.svg", size: "48px*48px", alt: "YT"), "https://youtube.com/channel/UCuMcN15thVjRN5g1tq3k6dg?view_as=subscriber", class:"social-icon" %>
        <%= link_to inline_svg("Twitter.svg", size: "48px*48px", alt: "TWTR"), "https://twitter.com/wefit_us", class:"social-icon" %>
      </div>
      <%# Support links %>
      <div class="col-sm-2">
        <h4>Support</h4>
        <ul class="list-unstyled">
          <li><%= link_to "Contact", contact_path, class: "footer-link" %></li>
<<<<<<< HEAD
          <li><%= link_to "Account Help", account_help_path, class: "footer-link" %></li>
          <li><%= link_to "Billing", billing_page_path, class: "footer-link" %></li>
=======
          <li>Billing</li>
>>>>>>> 2fbc8650088983ffc1e2d4553b1edcedd2bb02bb
          <li><%= link_to "Community Guidelines",  community_guidelines_path, class: "footer-link" %></li>
        </ul>
      </div>
      <%# Legal links %>
      <div class="col-sm-2">
        <h4>Legal</h4>
        <ul class="list-unstyled">
          <li><%= link_to "Terms of Use", terms_of_use_path, class: "footer-link" %></li>
          <li><%= link_to "Privacy Policy", privacy_policy_path, class: "footer-link" %></li>
          <li><%= link_to "Cookie Policy", cookie_policy_path, class:  "footer-link" %></li>
          <li><%= link_to "Advertising Policy", advertising_policy_path, class:  "footer-link" %></li>
          <li><%= link_to "Branding Assets", branding_assets_path, class: "footer-link" %></li>
        </ul>
      </div>
    </div>
    <p class="text-center">&copy; <%= Time.current.year %> WeFit Inc.</p>
  </div>
</footer>