<div class="modal" tabindex="-1" role="dialog" id="loginModal" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-light border shadow">
      
      <div class="modal-close col-1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
      </div>
      
      <div class="modal-header py-3">
        <h5 class="modal-title mx-auto">Log In</h5>
      </div>
      
      <div class="modal-body text-center">
        <% if flash[:login_notice] %>
          <div class="alert alert-danger" role="alert"><%= flash[:login_notice] %></div>
        <% end %> 
        <%= form_for(:session, url: login_path) do |f| %>
          <div class="form-group"><%= text_field_tag :email, nil, class: 'form-control', required: '', placeholder: 'Email' %></div>
          <div class="form-group"><%= password_field_tag :password, nil, class: 'form-control', required: '', placeholder: 'Password' %></div>
          <div class="form-group"><p>Forgot password? <%= link_to "Click here", new_password_reset_path %></p></div>
          <div class="form-group"><%= submit_tag "Login", class: 'btn btn-green btn-md w-25' %></div> 
        <% end %>
      </div>

    </div>
  </div>
</div>

