<!DOCTYPE html>
<html>
  <head>
    <title>WeFit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('square-logo.png'), :rel => 'icon', :type =>  'image/png' %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- App CSS -->
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!--[if lte IE 8]>
      <div class="alert alert-danger">Please don't use internet explorer, <a href="https://browsehappy.com/">upgrade to something modern</a>!</div>		      
    <![endif]-->
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-pink">
      <a class="navbar-brand pl-5" href="/">
        <%= image_tag "logo-transparent.png", size: "64x32", alt: "WeFit" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarLinks">
        <ul class="navbar-nav pr-5 ml-auto">
          <li class="nav-item"><%= link_to "About", about_path, class: "nav-link text-white" %></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Ad Manager</a></li>
          <li class="nav-item"><%= link_to "Professionals", professionals_path, class:"nav-link text-white" %></li>
          <li class="nav-item"><a class="nav-link text-white" href="#" data-toggle="modal" data-target="#loginModal">Log In</a><%# <%= link_to "Log In", login_path, class:"nav-link text-white" %></li>
	      </ul>
      </div>
    </nav>
    <!-- Main content -->
    <div class="container-fluid">
      <%= yield %>
    </div>
    <!-- Login modal -->
    <div class="modal" tabindex="-1" role="dialog" id="loginModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Log In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <p>Login form goes here</p>
          </div>
        </div>
      </div>
    </div>
    <!-- NavBar bottom -->
    <nav class="navbar navbar-bottom navbar-expand-md navbar-light bg-pink px-5">
      <a class="navbar-brand text-white" href="/"><%= image_tag "text-transparent-white.png", size: "112x34" %></a>
      <ul class="navbar-nav abs-center-x">
        <li class="nav-item"><a class="nav-link" href="https://facebook.com/WeFitHQ"><%= inline_svg "facebook-icon.svg", size: "24px*24px", alt: "FB" %></a></li>
        <li class="nav-item"><a class="nav-link" href="https://instagram.com/wefit.us"><%= inline_svg "instagram-icon.svg", size: "24px*24px", alt: "IG" %></a></li>
        <li class="nav-item"><a class="nav-link" href="https://youtube.com/channel/UCuMcN15thVjRN5g1tq3k6dg?view_as=subscriber"><%= inline_svg "youtube-icon.svg", size: "24px*24px", alt: "YT" %></a></li>
        <li class="nav-item"><a class="nav-link" href="https://twitter.com/wefit_us"><%= inline_svg "twitter-icon.svg", size: "24px*24px", alt: "TWTR" %></a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link text-white" href="/terms_of_use">Terms of use</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/privacy_policy">Privacy Policy</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Contact</a></li>
      </ul>
    </nav>

    <!-- Bootrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
