<!DOCTYPE html>
<html>
  <head>
    <title>WeFit</title>
    <meta name="theme-color" content="#ff7878">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('square-logo.png'), :rel => 'icon', :type =>  'image/png' %>
    <!-- Google API -->
    <meta name="google-signin-client_id" content="997965127714-86jhvdo0b7hvf5maf52b6vm6o1uttunu.apps.googleusercontent.com">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- App CSS -->
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--[if lte IE 8]>
      <div class="alert alert-danger">Please don't use internet explorer, <a href="https://browsehappy.com/">upgrade to something modern</a>!</div>		      
    <![endif]-->
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-pink">
      <a class="navbar-brand pl-5" href="/">
        <%= image_tag "logo-transparent.png", size: "64x32", alt: "WeFit" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarLinks">
        <ul class="navbar-nav pr-5 ml-auto">
          <li class="nav-item"><%= link_to "About", about_path, class: "nav-link text-white" %></li>
          <li class="nav-item"><%= link_to "Ad Manager", ad_manager_path, class:"nav-link text-white" %></li>
          <li class="nav-item"><%= link_to "Professionals", professionals_path, class:"nav-link text-white" %></li>

          <% if not current_user %>
            <%# Show a login modal link if not logged in %>
            <li class="nav-item"><a class="nav-link text-white" href="#" data-toggle="modal" data-target="#loginModal">Log In</a></li>
          <% else %>
            <%# Else show the current user name %>
            <%# TODO: Show a logout dropdown %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="userActions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %> <%= current_user.last_name %></a>
              <div class="dropdown-menu" aria-labelledby="userActions">
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
          <% end %>
	      </ul>
      </div>
    </nav>
    <!-- Main content -->
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%# Only show the login modal if the user isn't logged in %>
    <% if not current_user %>
      <!-- Login modal -->
      <div class="modal show" tabindex="-1" role="dialog" id="loginModal" >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content w-50 mx-auto my-auto bg-light border shadow">
            <div class="modal-close col-2">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-header row">
              <h5 class="modal-title mx-auto">Log In</h5>
            </div>
            <div class="modal-body text-center">
              <%= render 'layouts/login_form' %>
            </div>
          </div>
        </div>
      </div>
      <%# Show the login modal by default if there was an error logging in %>
      <% if flash[:login_notice] %>
        <script type="text/javascript">
        $(document).ready(function()
        {
          $("#loginModal").modal('show');
        }); 
        </script>
      <% end %>
    <% end %>
    <!-- NavBar bottom -->
    <nav class="navbar navbar-bottom navbar-expand-md navbar-light bg-pink px-5">
      <a class="navbar-brand text-white" href="/"><%= image_tag "text-transparent-white.png", size: "112x34" %></a>
      <ul class="navbar-nav abs-center-x">
        <li class="nav-item"><a class="nav-link" href="https://facebook.com/WeFitHQ"><%= inline_svg "facebook-icon.svg", size: "24px*24px", alt: "FB" %></a></li>
        <li class="nav-item"><a class="nav-link" href="https://instagram.com/wefit.us"><%= inline_svg "instagram-icon.svg", size: "24px*24px", alt: "IG" %></a></li>
        <li class="nav-item"><a class="nav-link" href="https://youtube.com/channel/UCuMcN15thVjRN5g1tq3k6dg?view_as=subscriber"><%= inline_svg "youtube-icon.svg", size: "24px*24px", alt: "YT" %></a></li>
        <li class="nav-item"><a class="nav-link" href="https://twitter.com/wefit_us"><%= inline_svg "twitter-icon.svg", size: "24px*24px", alt: "TWTR" %></a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to "Terms of Use", terms_of_use_path, class: "nav-link text-white" %></li>
        <li class="nav-item"><%= link_to "Privacy Policy", privacy_policy_path, class: "nav-link text-white" %></li>
        <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link text-white" %></li>
      </ul>
    </nav>

    <!-- Facebook JS -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
    <!-- Google JS -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- Bootrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
