<!DOCTYPE html>
<html lang="en">
  <head>
    <%# Device meta stuff %>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ff0800">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# SEO Stuff %>
    <title>WeFit <%= if content_for?(:title) then ' | ' + yield(:title) end %></title>
    <meta name='description' content='<%= yield_meta_tag(:description, 'WeFit, the social network for all things health.') %>' />
    <meta name='keywords' content='<%= yield_meta_tag(:keywords, 'wefit,wefit.us,fitness,health') %>' />
    <%# Favicon %>
    <%= favicon_link_tag asset_path('square-logo.png'), rel: 'icon', type: 'image/png' %>

    <%# Rails authenticity stuff %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- App CSS -->
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Facebook JS -->
    <script crossorigin="anonymous" src="https://connect.facebook.net/en_US/all.js#xfbml=1&version=v3.3"></script>
    <!-- App JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-suppress-warning': 'true' %>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KWKKSWG');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="<%= controller_name %> <%= action_name %> <%= login_status %> <%= login_error %>">
    <!-- FB root -->
    <div id="fb-root"></div>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWKKSWG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!--[if lte IE 8]>
      <div class="alert alert-danger">Please don't use internet explorer, <a href="https://browsehappy.com/">upgrade to something modern</a>!</div>
    <![endif]-->
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-pink">
      <%= link_to image_tag("logo-transparent.png", size: "64x32", alt: "WeFit"), root_path, id: 'top-logo' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarLinks">
        <ul class="navbar-nav pr-5 ml-auto">
          <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Advertising", advertising_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Professionals", professionals_path, class: "nav-link" %></li>
          <% if current_user? %>
            <%# Show the current user name %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userActions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %> <%= current_user.last_name %></a>
              <div class="dropdown-menu" aria-labelledby="userActions">
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
          <% else %>
            <%# Show a login modal link if not logged in %>
            <li class="nav-item"><%= link_to "Log In", '#', class: 'nav-link', 'data-toggle': 'modal', 'data-target': '#loginModal' %></li>
          <% end %>
	      </ul>
      </div>
    </nav>
    <!-- Main content -->
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%# Only show the login modal if the user isn't logged in %>
    <% if not current_user? %>
      <!-- Login modal -->
      <div class="modal" tabindex="-1" role="dialog" id="loginModal" >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content bg-light border shadow">
            <div class="modal-close col-1">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-header py-3">
              <h5 class="modal-title mx-auto">Log In</h5>
            </div>
            <div class="modal-body text-center">
              <%= render 'layouts/login_form' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <!-- NavBar bottom -->
    <nav class="navbar fixed-bottom navbar-bottom navbar-expand-md navbar-dark bg-pink">
      <%= link_to image_tag("text-transparent-white.png", size: "112x34", id: "bottom-icon"), root_path, class: 'navbar-brand' %>
      <ul class="navbar-nav abs-center-x hide-mobile">
        <li class="nav-item"><%= link_to inline_svg("facebook-icon.svg", size: "24px*24px", alt: "FB"), "https://facebook.com/WeFitHQ", class:"nav-link" %></li>
        <li class="nav-item"><%= link_to inline_svg("instagram-icon.svg", size: "24px*24px", alt: "IG"), "https://instagram.com/wefit.us", class:"nav-link" %></li>
        <li class="nav-item"><%= link_to inline_svg("youtube-icon.svg", size: "24px*24px", alt: "YT"), "https://youtube.com/channel/UCuMcN15thVjRN5g1tq3k6dg?view_as=subscriber", class:"nav-link" %></li>
        <li class="nav-item"><%= link_to inline_svg("twitter-icon.svg", size: "24px*24px", alt: "TWTR"), "https://twitter.com/wefit_us", class:"nav-link" %></li>
      </ul>
      <ul id="tos-bottom" class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to "Terms of Use", terms_of_use_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Privacy Policy", privacy_policy_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
      </ul>
    </nav>
  </body>
</html>
