<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%# Device meta stuff %>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ff0800">
    <meta name="msapplication-TileColor" content="#ff0800">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# SEO Stuff %>
    <title>WeFit <%= if content_for?(:title) then ' | ' + yield(:title) end %></title>
    <meta name='description' content='<%= yield_meta_tag(:description, 'WeFit, the social network for all things health.') %>' />
    <meta name='keywords' content='<%= yield_meta_tag(:keywords, 'wefit,wefit.us,fitness,health') %>' />

    <%# Favicon %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0800">

    <%# Rails authenticity stuff %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- App CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- App JS -->
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-suppress-warning': 'true' %>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KWKKSWG');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="<%= controller_name %> <%= action_name %> <%= login_status %> <%= login_error %> <%= mobile_status %>">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWKKSWG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Main content -->
    <div class="container-fluid">
        <% if mobile_device? %>
            <%= render 'layouts/mobile_page' %>
        <% else %>
            <%= yield %>
        <% end %>
    </div>

  </body>
</html>
