<!DOCTYPE html>
<html>
  <head>
    <title>WeFit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('square-logo.png') %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- App CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-pink">
      <a class="navbar-brand pl-5" href="#">
        <%= image_tag "logo-transparent.png", size: "64x32", alt: "WeFit" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarLinks">
        <ul class="navbar-nav pr-5 ml-auto">
          <li class="nav-item"><a class="nav-link text-white" href="#">About</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Billing</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Ad Manager</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Professionals</a></li>
          <li class="nav-item"><%= link_to "Log In", login_path, class:"nav-link" %></li>
	      </ul>
      </div>
    </nav>
    <!-- Main content -->
    <div class="container-fluid w-75">
      <%= yield %>
    </div>
    <!-- NavBar bottom -->
    <nav class="navbar navbar-expand-md fixed-bottom navbar-light bg-pink">
      <a class="navbar-brand text-white mr-auto" href="#">wefit.</a>
      <div class="mx-auto">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="https://facebook.com/WeFitHQ"><%= image_tag "facebook-3-24.png", alt: "FB" %></a></li>
          <li class="nav-item"><a class="nav-link" href="https://instagram.com/wefit.us"><%= image_tag "instagram-24.png", alt: "IG" %></a></li>
          <li class="nav-item"><a class="nav-link" href="https://youtube.com/channel/UCuMcN15thVjRN5g1tq3k6dg?view_as=subscriber"><%= image_tag "youtube-3-24.png", alt: "YT" %></a></li>
	        <li class="nav-item"><a class="nav-link" href="https://twitter.com/wefit_us"><%= image_tag "twitter-24.png", alt: "TWTR" %></a></li>
        </ul>
      </div>
      <div class="order-3">
	      <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link text-white" href="#">Terms of service</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Privacy Policy</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Contact</a></li>
	      </ul>
      </div>
    </nav>

    <!-- Bootrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
